@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Footer -->
<section class="footer">
    <div class="container">
        <div class="information">
            <div class="text1">
                <img src="~/images/logotype-white.svg" alt="Logotype">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat obcaecati voluptas voluptates!
                    Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
            </div>
            <ul>
                <li class="listitem">
                    <h6>Company</h6>
                    <a class="link" href="#">About</a>
                    <a class="link" href="#">Features</a>
                    <a class="link" href="#">Works</a>
                    <a class="link" href="#">Career</a>
                </li>
                <li class="listitem">
                    <h6>Help</h6>
                    <a class="link" href="#">Customer Support</a>
                    <a class="link" href="#">Delivery Details</a>
                    <a class="link" href="#">Terms & Conditions</a>
                    <a class="link" href="#">Privacy Policy</a>
                </li>
                <li class="listitem">
                    <h6>Resources</h6>
                    <a class="link" href="#">Free eBooks</a>
                    <a class="link" href="#">Development Tutorial</a>
                    <a class="link" href="#">How to - Blog</a>
                    <a class="link" href="#">Youtube Playlist</a>
                </li>
                <li class="listitem">
                    <h6>Link</h6>
                    <a class="link" href="#">Free eBooks</a>
                    <a class="link" href="#">Development Tutorial</a>
                    <a class="link" href="#">How to - Blog</a>
                    <a class="link" href="#">Youtube Playlist</a>
                </li>
            </ul>
        </div>
        <div class="lines">
            <img src="~/images/background-lines-white-right.svg" alt="Background Lines">
        </div>
        <div class="copysocials">
            <p>© 2023 Crito - Consulting Company Inc. All Rights Reserved.</p>
            <div class="socials">
                <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</section>