@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using EC07_CMS_Umbraco_vs.ViewModels;
@{
    var subscribeForm = new SubscribeViewModel();
}


<!-- Signup -->
    <section class="signup">
        <div class="container">
            <h3>Get News Updates By Signup</h3>
            @if (TempData["SubscribeSuccess"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SubscribeSuccess"]
                </div>
            }

            @if (TempData["SubscribeError"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["SubscribeError"]
                </div>
            }
            @using (Html.BeginUmbracoForm("Subscribe", "Subscription"))
            {
                <div class="email" id="subscription-form">
                    <input asp-for="@subscribeForm.Email" placeholder="username@domain.com" />
                    <button type="submit" class="btn theme-btn m-4">Subscribe <i class="fa-solid fa-arrow-up-right"></i></button>
                </div>
            }
        </div>
        <img class="background-image" src="~/images/background-wavy-lines.svg" alt="Background Wavy Lines">
    </section>